<h1>Lessons</h1>

<h3> welcome <%=  current_user.name %></h3>

<% results=Developer.find(:all,:conditions=>"userID='#{current_user.id}'") %>

<% results.each do |admin| %>
  <% admin.lessons.each do |lesson| %>
      <h2><%=lesson.lessonName %></h2>
      <h3> contents</h3>
           <% lesson.lesson_pages.each do |lessonpage| %>
               <%= lessonpage.content_info_id? ? lessonpage.content_info.name : lessonpage.questionnaire_id? ? lessonpage.questionnaire.questionnaireName : "" %> <br />
            <% end %>
  <% end %>
<% end %>

<%= link_to "Create New Lesson",{:action=>"new",:controller=>"lessons"}%>
