<h1>Lessons</h1>

<h3> welcome <%=  current_user.name %></h3>

<% results=Developer.find(:all,:conditions=>"userID='#{current_user.id}'") %>







<%= link_to "Create New Lesson",{:action=>"new",:controller=>"lessons"}%>
