<h1>Lessons</h1>

<h3> welcome <%=current_user.name %></h3>
<% @id=current_user.id %>
<%=@id%>

<%  results=Developer.find(:all, :conditions => { :userID=>1})  %>



<%= link_to "Create New Lesson",{:action=>"new",:controller=>"lessons"}%>
