<h1>Lesson Questionnaire Data</h1>


<%= render 'form' %>


<%=link_to "Create New Questionnire",{:action=>"new", :controller=>"questionnaires"} %> <br />


<%=link_to "Back",{:action=>"new", :controller=>"lessons"} %>
