<h1>LessonContent Data</h1>

<%= render 'form' %>


<%=link_to "Create New Content",{:action=>"new", :controller=>"content_infos"} %> <br />

<%=link_to "Back",{:action=>"new", :controller=>"lessons"} %>
