<h1>New lesson</h1>

<%= render 'form' %>


<%=link_to "Add Data Content",{:action=>"new", :controller=>"lesson_pages"} %> <br />
<%=link_to "Add Questionnire Content",{:action=>"new", :controller=>"lesson_pages_questionnaire"} %><br />


<%=link_to "Back",{:action=>"index", :controller=>"admin_people"} %>
