<p id="notice"><%= notice %></p>


<p>
  <b>Lessonname:</b>
  <%= @lesson.lessonName %>
</p>


<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%=link_to "Back",{:action=>"new", :controller=>"lessons"} %>
