<h1>New questionnaire</h1>

<%= render 'form' %>

<%= link_to 'Add New Question',:controller=>"quests", :action=>"new" %> <br />
<%=link_to "Back",{:action=>"new", :controller=>"lesson_pages_questionnaire"} %>
