<p id="notice"><%= notice %></p>



<p>
  <b>Questionnairename:</b>
  <%= @questionnaire.questionnaireName %>
</p>




<%= link_to 'Edit', edit_questionnaire_path(@questionnaire) %> |
<%= link_to 'Back', :action=>"new" %>
