
<br />
<br />
<br />
<h3> welcome <%= current_user.name %></h3>

<h3> Lessons</h3>


<br />
<br />
<% results= AdminPerson.find(:all,:conditions=>"userID='#{current_user.id}'")%>

<% results.each do | admin| %>

<% admin.lessons.each do |lesson| %>
<h4>   <%= lesson.lessonName %> </h4>

<%end%>

<%end%>




<%=link_to "Create New Lesson",{:action=>"new", :controller=>"lessons"} %>





